@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.section-table {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-color: #f8f9fd;
    border-spacing: 10px;
}

.table-container {
    display: inline-block;
    width: 80%;
}

.table-container__header{
    width: 100%;
    border-collapse: collapse;
}

.table-container__body{
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 10px; 
    margin-top: -10px;
}

.table-head td{
    background-color: #9dac9e;
    padding: 2rem;
    
}

.table-head td:nth-child(1) {
    padding-left: 1rem;
}

.table-head td:nth-child(2) {
    padding-left: 0rem;
}


.table-body {
    text-align: center;
    background-color: #fff;

}

.table-body td {
    padding: 0.5rem;
}

.table-body td:nth-child(1) {
    padding: 1.5rem; 
}

.table-body td:nth-child(3) {
    text-align: left;  
}

.table-body td:nth-child(3) {
    text-align: left;  
}

.table-body__checkbox input:checked ~ .checkmark{
    background-color: rgba(255, 0, 0, 0.486);
}

.table-body__img img {
    height: 5rem;
}

.table-body__texts h1{
    font-size: 1rem;
}

.table-body__texts p {
    font-size: 14px;
}

.table-body__prices {
    font-weight: 500;
}

.table-body__btn-remove a {
    text-decoration: none;
    color: rgb(99, 99, 99);
    font-size: 14px;
    font-weight: 600;
}

.table-body__number input{
    width: 40%;
    padding: 10px;
    border: 2px solid #cecece;
    border-radius: 5px;
}
