@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.tabela-container {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela-alunos {
    border: 2px solid #000000;
    border-collapse: collapse;
    letter-spacing: 1px;
    width: 40%;
}

.tabela-alunos_cabecalho {
    background-color: aqua;
}

th, td {
    border: 1px solid;
    padding: 8px 10px;
}

.tabela-alunos_corpo {
    background-color: rgb(193, 247, 247);
}

td, tr {
    text-align: center;
}

td:first-child {
    text-align: left;
    padding-left: 2rem;
}

tfoot {
    background-color: aqua;
}